################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
PFNMR.VC.db
/PFNMR/x64
/PFNMR/vc140.pdb
/x64
/.vs
/packages