################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
PFNMR.VC.db
/PFNMR/x64/Debug
/PFNMR/vc140.pdb
/x64/Debug
/.vs/PFNMR/v14
